<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<trust level="Medium" />
	</system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
				<add value="index.htm" />
				<add value="index.asp" />
				<add value="index.aspx" />
				<add value="default.html" />
				<add value="default.htm" />
				<add value="default.asp" />
				<add value="default.aspx" />
				<add value="index.php" />
				<add value="winhostdefault.htm" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" />
		<httpErrors>
			<remove statusCode="403" subStatusCode="-1" />
		</httpErrors>
		<rewrite>
			<rules>
				<rule name="Redirect to https" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
