USE [DB_12824_registertest]
GO
/****** Object:  StoredProcedure [dbo].[ListAllTeamsRegisteredForTournament]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[ListAllTeamsRegisteredForTournament]
GO
/****** Object:  StoredProcedure [dbo].[GenerateImportFileForScoringProgram]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[GenerateImportFileForScoringProgram]
GO
/****** Object:  StoredProcedure [dbo].[FindNullVolunteerRegistrations]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[FindNullVolunteerRegistrations]
GO
/****** Object:  StoredProcedure [dbo].[FindNullTournamentRegistrations]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[FindNullTournamentRegistrations]
GO
/****** Object:  StoredProcedure [dbo].[FindNullJudgeRegistrations]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[FindNullJudgeRegistrations]
GO
/****** Object:  StoredProcedure [dbo].[FindAllJudgesAssignedToMoreThanOneTeam]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[FindAllJudgesAssignedToMoreThanOneTeam]
GO
/****** Object:  StoredProcedure [dbo].[DropAndRecreateTournamentRegistrationTable]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[DropAndRecreateTournamentRegistrationTable]
GO
/****** Object:  StoredProcedure [dbo].[DeleteNullVolunteerRegistrations]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[DeleteNullVolunteerRegistrations]
GO
/****** Object:  StoredProcedure [dbo].[DeleteNullTournamentRegistrations]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[DeleteNullTournamentRegistrations]
GO
/****** Object:  StoredProcedure [dbo].[DeleteNullJudgeRegistrations]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[DeleteNullJudgeRegistrations]
GO
/****** Object:  StoredProcedure [dbo].[DeleteAllTournamentRegistrationRecordsAndResetIdToZero]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP PROCEDURE [dbo].[DeleteAllTournamentRegistrationRecordsAndResetIdToZero]
GO
/****** Object:  Table [dbo].[Volunteers]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Volunteers]') AND type in (N'U'))
DROP TABLE [dbo].[Volunteers]
GO
/****** Object:  Table [dbo].[TournamentRegistration]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TournamentRegistration]') AND type in (N'U'))
DROP TABLE [dbo].[TournamentRegistration]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Schools]') AND type in (N'U'))
DROP TABLE [dbo].[Schools]
GO
/****** Object:  Table [dbo].[Problem]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Problem]') AND type in (N'U'))
DROP TABLE [dbo].[Problem]
GO
/****** Object:  Table [dbo].[Judges]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Judges]') AND type in (N'U'))
DROP TABLE [dbo].[Judges]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Events]') AND type in (N'U'))
DROP TABLE [dbo].[Events]
GO
/****** Object:  Table [dbo].[ContactUsSenderRoles]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContactUsSenderRoles]') AND type in (N'U'))
DROP TABLE [dbo].[ContactUsSenderRoles]
GO
/****** Object:  Table [dbo].[ContactUsRecipients]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContactUsRecipients]') AND type in (N'U'))
DROP TABLE [dbo].[ContactUsRecipients]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Config]') AND type in (N'U'))
DROP TABLE [dbo].[Config]
GO
/****** Object:  Table [dbo].[CoachesTrainingRoles]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoachesTrainingRoles]') AND type in (N'U'))
DROP TABLE [dbo].[CoachesTrainingRoles]
GO
/****** Object:  Table [dbo].[CoachesTrainingRegistrations]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoachesTrainingRegistrations]') AND type in (N'U'))
DROP TABLE [dbo].[CoachesTrainingRegistrations]
GO
/****** Object:  Table [dbo].[CoachesTrainingRegions]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoachesTrainingRegions]') AND type in (N'U'))
DROP TABLE [dbo].[CoachesTrainingRegions]
GO
/****** Object:  Table [dbo].[CoachesTrainingDivisions]    Script Date: 12/2/2023 8:02:31 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CoachesTrainingDivisions]') AND type in (N'U'))
DROP TABLE [dbo].[CoachesTrainingDivisions]
GO
USE [master]
GO
/****** Object:  Database [DB_12824_registertest]    Script Date: 12/2/2023 8:02:31 PM ******/
DROP DATABASE [DB_12824_registertest]
GO
/****** Object:  Database [DB_12824_registertest]    Script Date: 12/2/2023 8:02:31 PM ******/
CREATE DATABASE [DB_12824_registertest] ON  PRIMARY 
( NAME = N'DB_12824_registertest_data', FILENAME = N'e:\sqldata\DB_12824_registertest_data.mdf' , SIZE = 3520KB , MAXSIZE = 25600KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_12824_registertest_log', FILENAME = N'f:\sqllog\DB_12824_registertest_log.ldf' , SIZE = 1024KB , MAXSIZE = 1024000KB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_12824_registertest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_12824_registertest]
GO
/****** Object:  Table [dbo].[CoachesTrainingDivisions]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachesTrainingDivisions](
	[ID] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_coaches_training_divisions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachesTrainingRegions]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachesTrainingRegions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_coaches_training_regions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachesTrainingRegistrations]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachesTrainingRegistrations](
	[RegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](100) NULL,
	[SchoolName] [nvarchar](100) NULL,
	[Role] [nvarchar](100) NULL,
	[Division] [nvarchar](100) NULL,
	[SelectedProblem] [nvarchar](100) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[YearsInvolved] [nvarchar](10) NULL,
	[RegionNumber] [nvarchar](20) NULL,
	[TimeRegistered] [datetime] NULL,
	[UserAgent] [nvarchar](max) NULL,
 CONSTRAINT [PK_coaches_training] PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CoachesTrainingRoles]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoachesTrainingRoles](
	[ID] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_coaches_training_roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[Name] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](800) NULL,
 CONSTRAINT [PK_config] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactUsRecipients]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUsRecipients](
	[ID] [tinyint] NOT NULL,
	[contact_name] [nvarchar](100) NOT NULL,
	[email_address] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_contact_us_recipients] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactUsSenderRoles]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactUsSenderRoles](
	[ID] [tinyint] NOT NULL,
	[role_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_contact_us_sender_roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[ID] [int] NOT NULL,
	[EventName] [nvarchar](200) NULL,
	[LocationURL] [nvarchar](200) NULL,
	[LocationURLColor] [nvarchar](100) NULL,
	[LocationAddress] [nvarchar](100) NULL,
	[LocationCity] [nvarchar](30) NULL,
	[LocationState] [nvarchar](5) NULL,
	[LocationPhone] [nvarchar](50) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Location] [nvarchar](100) NULL,
	[Time] [nvarchar](100) NULL,
	[EventCoordinatorName] [nvarchar](100) NULL,
	[EventCoordinatorEmail] [nvarchar](100) NULL,
	[EventCoordinatorPhone] [nvarchar](100) NULL,
	[InformationURL] [nvarchar](100) NULL,
	[LocationMapURL] [nvarchar](100) NULL,
	[EventPayeeName] [nvarchar](100) NULL,
	[EventPayeeAddress1] [nvarchar](100) NULL,
	[EventPayeeAddress2] [nvarchar](100) NULL,
	[EventPayeeCity] [nvarchar](50) NULL,
	[EventPayeeState] [nvarchar](30) NULL,
	[EventPayeeZipCode] [nvarchar](15) NULL,
	[EventPayeePhone1] [nvarchar](20) NULL,
	[EventPayeeEmail1] [nvarchar](100) NULL,
	[EventCost] [nvarchar](20) NULL,
	[LateEventCost] [nvarchar](20) NULL,
	[LateEventCostStartDate] [date] NULL,
	[PaymentDueDate] [date] NULL,
	[EventMakeChecksOutTo] [nvarchar](150) NULL,
	[EventVolunteerInformationMessage] [nvarchar](max) NULL,
	[TeamsVolunteerWantsToSeeMessage] [nvarchar](max) NULL,
	[EventMailBody] [nvarchar](max) NULL,
 CONSTRAINT [PK_events] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Judges]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Judges](
	[JudgeID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Address] [nvarchar](255) NULL,
	[AddressLine2] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](20) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[DaytimePhone] [nvarchar](30) NULL,
	[EveningPhone] [nvarchar](30) NULL,
	[MobilePhone] [nvarchar](30) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[ProblemChoice1] [nvarchar](60) NULL,
	[ProblemChoice2] [nvarchar](60) NULL,
	[ProblemChoice3] [nvarchar](60) NULL,
	[HasChildrenCompeting] [nvarchar](3) NULL,
	[COI] [nvarchar](50) NULL,
	[ProblemCOI1] [nvarchar](60) NULL,
	[ProblemCOI2] [nvarchar](60) NULL,
	[ProblemCOI3] [nvarchar](60) NULL,
	[ProblemAssigned] [nvarchar](50) NULL,
	[InformationMailed?] [bit] NULL,
	[AttendedJT?] [bit] NULL,
	[Active] [bit] NULL,
	[WillingToBeScorechecker] [nvarchar](3) NULL,
	[TshirtSize] [nvarchar](50) NULL,
	[WantsCEUCredit] [nvarchar](3) NULL,
	[YearsOfLongTermJudgingExperience] [nvarchar](50) NULL,
	[YearsOfSpontaneousJudgingExperience] [nvarchar](50) NULL,
	[PreviousPositions] [nvarchar](100) NULL,
	[ProblemID] [nvarchar](50) NULL,
	[TimeRegistered] [datetime] NULL,
	[TimeAssignedToTeam] [datetime] NULL,
	[TimeRegistrationStarted] [datetime] NULL,
	[UserAgent] [nvarchar](max) NULL,
 CONSTRAINT [PK_judges] PRIMARY KEY CLUSTERED 
(
	[JudgeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Problem]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Problem](
	[ProblemID] [int] NOT NULL,
	[ProblemCategory] [nvarchar](30) NULL,
	[ProblemName] [nvarchar](50) NULL,
	[ProblemDescription] [nvarchar](max) NULL,
	[Divisions] [nvarchar](50) NULL,
	[CostLimit] [nvarchar](50) NULL,
	[ProblemCaptainID] [nvarchar](50) NULL,
	[PCFirstName] [nvarchar](50) NULL,
	[PCLastName] [nvarchar](50) NULL,
	[PCAddress] [nvarchar](255) NULL,
	[PCCity] [nvarchar](50) NULL,
	[PCStateOrProvince] [nvarchar](20) NULL,
	[PCPostalCode] [nvarchar](20) NULL,
	[PCWorkPhone] [nvarchar](30) NULL,
	[PCHomePhone] [nvarchar](30) NULL,
	[PCMobilePhone] [nvarchar](30) NULL,
	[PCFaxNumber] [nvarchar](30) NULL,
	[PCEmail1] [nvarchar](50) NULL,
	[PCEmail2] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_problem] PRIMARY KEY CLUSTERED 
(
	[ProblemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[RegionNumber] [smallint] NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[State] [nvarchar](20) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Phone] [nvarchar](30) NULL,
	[Membership#1] [nvarchar](50) NULL,
	[Membership#1seen] [nvarchar](50) NULL,
	[Membership#2] [nvarchar](50) NULL,
	[Membership#2seen] [nvarchar](50) NULL,
	[Membership#3] [nvarchar](50) NULL,
	[Membership#3seen] [nvarchar](50) NULL,
	[Membership#4] [nvarchar](50) NULL,
	[Membership#4seen] [nvarchar](50) NULL,
	[CoordNew?] [nvarchar](50) NULL,
	[CoordFirstName] [nvarchar](50) NULL,
	[CoordLastName] [nvarchar](50) NULL,
	[CoordAddress] [nvarchar](255) NULL,
	[CoordCity] [nvarchar](50) NULL,
	[CoordState] [nvarchar](20) NULL,
	[CoordPostalCode] [nvarchar](20) NULL,
	[CoordPhone] [nvarchar](30) NULL,
	[CoordAltPhone] [nvarchar](30) NULL,
	[CoordMobilePhone] [nvarchar](30) NULL,
	[CoordFaxNumber] [nvarchar](30) NULL,
	[CoordEmailName] [nvarchar](50) NULL,
	[Share?] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Schools] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TournamentRegistration]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TournamentRegistration](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[MembershipName] [nvarchar](50) NULL,
	[MembershipNumber] [nvarchar](50) NULL,
	[ProblemID] [int] NULL,
	[Division] [nvarchar](50) NULL,
	[SchoolID] [int] NULL,
	[CoachFirstName] [nvarchar](50) NULL,
	[CoachLastName] [nvarchar](50) NULL,
	[CoachAddress] [nvarchar](255) NULL,
	[CoachCity] [nvarchar](50) NULL,
	[CoachState] [nvarchar](20) NULL,
	[CoachZipCode] [nvarchar](20) NULL,
	[CoachEveningPhone] [nvarchar](30) NULL,
	[CoachDaytimePhone] [nvarchar](30) NULL,
	[CoachMobilePhone] [nvarchar](30) NULL,
	[CoachEmailAddress] [nvarchar](50) NULL,
	[AltCoachFirstName] [nvarchar](50) NULL,
	[AltCoachLastName] [nvarchar](50) NULL,
	[AltCoachEveningPhone] [nvarchar](50) NULL,
	[AltCoachDaytimePhone] [nvarchar](50) NULL,
	[AltCoachMobilePhone] [nvarchar](30) NULL,
	[AltCoachEmailAddress] [nvarchar](50) NULL,
	[MemberFirstName1] [nvarchar](50) NULL,
	[MemberLastName1] [nvarchar](50) NULL,
	[MemberGrade1] [nvarchar](50) NULL,
	[MemberFirstName2] [nvarchar](50) NULL,
	[MemberLastName2] [nvarchar](50) NULL,
	[MemberGrade2] [nvarchar](50) NULL,
	[MemberFirstName3] [nvarchar](50) NULL,
	[MemberLastName3] [nvarchar](50) NULL,
	[MemberGrade3] [nvarchar](50) NULL,
	[MemberFirstName4] [nvarchar](50) NULL,
	[MemberLastName4] [nvarchar](50) NULL,
	[MemberGrade4] [nvarchar](50) NULL,
	[MemberFirstName5] [nvarchar](50) NULL,
	[MemberLastName5] [nvarchar](50) NULL,
	[MemberGrade5] [nvarchar](50) NULL,
	[MemberFirstName6] [nvarchar](50) NULL,
	[MemberLastName6] [nvarchar](50) NULL,
	[MemberGrade6] [nvarchar](50) NULL,
	[MemberFirstName7] [nvarchar](50) NULL,
	[MemberLastName7] [nvarchar](50) NULL,
	[MemberGrade7] [nvarchar](50) NULL,
	[Spontaneous] [bit] NULL,
	[Notes] [nvarchar](max) NULL,
	[SpecialConsiderations] [nvarchar](max) NULL,
	[SchedulingIssues] [nvarchar](max) NULL,
	[Paid] [smallint] NULL,
	[JudgeID] [smallint] NULL,
	[TeamRegistrationFee] [nvarchar](20) NULL,
	[VolunteerID] [int] NULL,
	[TimeRegistrationStarted] [datetime] NULL,
	[TimeRegistered] [datetime] NULL,
	[UserAgent] [nvarchar](max) NULL,
 CONSTRAINT [PK_TournamentRegistration] PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volunteers]    Script Date: 12/2/2023 8:02:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteers](
	[VolunteerID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DaytimePhone] [nvarchar](30) NULL,
	[EveningPhone] [nvarchar](30) NULL,
	[MobilePhone] [nvarchar](30) NULL,
	[EmailAddress] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[VolunteerWantsToSee] [nvarchar](max) NULL,
	[TimeRegistrationStarted] [datetime] NULL,
	[TimeRegistered] [datetime] NULL,
	[TimeAssignedToTeam] [datetime] NULL,
	[UserAgent] [nvarchar](max) NULL,
 CONSTRAINT [PK_Volunteers] PRIMARY KEY CLUSTERED 
(
	[VolunteerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CoachesTrainingDivisions] ([ID], [Name]) VALUES (1, N'Primary')
INSERT [dbo].[CoachesTrainingDivisions] ([ID], [Name]) VALUES (2, N'Division 1')
INSERT [dbo].[CoachesTrainingDivisions] ([ID], [Name]) VALUES (3, N'Division 2')
GO
SET IDENTITY_INSERT [dbo].[CoachesTrainingRegions] ON 

INSERT [dbo].[CoachesTrainingRegions] ([ID], [Name]) VALUES (1, N'9')
INSERT [dbo].[CoachesTrainingRegions] ([ID], [Name]) VALUES (2, N'11')
INSERT [dbo].[CoachesTrainingRegions] ([ID], [Name]) VALUES (3, N'12')
SET IDENTITY_INSERT [dbo].[CoachesTrainingRegions] OFF
GO
SET IDENTITY_INSERT [dbo].[CoachesTrainingRegistrations] ON 

INSERT [dbo].[CoachesTrainingRegistrations] ([RegistrationID], [FirstName], [LastName], [SchoolName], [Role], [Division], [SelectedProblem], [EmailAddress], [YearsInvolved], [RegionNumber], [TimeRegistered], [UserAgent]) VALUES (147, N'Lali', N'Fisher', N'Hayfield Elementary School', N'5', N'2', N'0', N'hlfisher@fcps.edu', N'0', N'11', CAST(N'2012-10-28T12:54:21.753' AS DateTime), N'Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; WOW64; Trident/5.0)')
INSERT [dbo].[CoachesTrainingRegistrations] ([RegistrationID], [FirstName], [LastName], [SchoolName], [Role], [Division], [SelectedProblem], [EmailAddress], [YearsInvolved], [RegionNumber], [TimeRegistered], [UserAgent]) VALUES (148, N'Sabrina', N'Hsu', N'Navy ES', N'1', N'1', N'6', N'Brikyun@gmail.com', N'0', N'9', CAST(N'2012-10-28T15:21:25.427' AS DateTime), N'Mozilla/5.0 (iPad; CPU OS 6_0 like Mac OS X) AppleWebKit/536.26 (KHTML, like Gecko) Version/6.0 Mobile/10A403 Safari/8536.25')
INSERT [dbo].[CoachesTrainingRegistrations] ([RegistrationID], [FirstName], [LastName], [SchoolName], [Role], [Division], [SelectedProblem], [EmailAddress], [YearsInvolved], [RegionNumber], [TimeRegistered], [UserAgent]) VALUES (149, N'Anne', N'Kane', N'Frost MS', N'3', N'4', N'3', N'kane.nine@verizon.net', N'5', N'9', CAST(N'2012-10-28T15:43:12.440' AS DateTime), N'Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 6.0; WOW64; Trident/5.0; SLCC1; .NET CLR 2.0.50727; Media Center PC 5.0; .NET CLR 3.5.30729; .NET CLR 3.0.30729; .NET4.0C; .NET4.0E)')
GO
SET IDENTITY_INSERT [dbo].[CoachesTrainingRegistrations] OFF
GO
INSERT [dbo].[CoachesTrainingRoles] ([ID], [Name]) VALUES (1, N'Coach')
INSERT [dbo].[CoachesTrainingRoles] ([ID], [Name]) VALUES (2, N'Assistant Coach')
INSERT [dbo].[CoachesTrainingRoles] ([ID], [Name]) VALUES (3, N'Coordinator')
GO
INSERT [dbo].[Config] ([Name], [Value]) VALUES (N'AcceptingPayPal', N'True')
INSERT [dbo].[Config] ([Name], [Value]) VALUES (N'CoachesHandbookURL', N'')
INSERT [dbo].[Config] ([Name], [Value]) VALUES (N'CoachesTrainingRegistrationCloseDateTime', N'2013-11-08 22:00')
GO
INSERT [dbo].[ContactUsRecipients] ([ID], [contact_name], [email_address]) VALUES (1, N'Vehicle Problem Captain (Problem # 1)', N'problem1@vaodyssey13.org')
INSERT [dbo].[ContactUsRecipients] ([ID], [contact_name], [email_address]) VALUES (2, N'Technical Problem Captain (Problem # 2)', N'problem2@vaodyssey13.org')
INSERT [dbo].[ContactUsRecipients] ([ID], [contact_name], [email_address]) VALUES (3, N'Classics Problem Captain (Problem # 3)', N'problem3@vaodyssey13.org')
GO
INSERT [dbo].[ContactUsSenderRoles] ([ID], [role_name]) VALUES (1, N'Coordinator')
INSERT [dbo].[ContactUsSenderRoles] ([ID], [role_name]) VALUES (2, N'Coach')
INSERT [dbo].[ContactUsSenderRoles] ([ID], [role_name]) VALUES (3, N'Parent')
GO
INSERT [dbo].[Problem] ([ProblemID], [ProblemCategory], [ProblemName], [ProblemDescription], [Divisions], [CostLimit], [ProblemCaptainID], [PCFirstName], [PCLastName], [PCAddress], [PCCity], [PCStateOrProvince], [PCPostalCode], [PCWorkPhone], [PCHomePhone], [PCMobilePhone], [PCFaxNumber], [PCEmail1], [PCEmail2], [Notes]) VALUES (0, NULL, N'I Don''t Know', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Problem] ([ProblemID], [ProblemCategory], [ProblemName], [ProblemDescription], [Divisions], [CostLimit], [ProblemCaptainID], [PCFirstName], [PCLastName], [PCAddress], [PCCity], [PCStateOrProvince], [PCPostalCode], [PCWorkPhone], [PCHomePhone], [PCMobilePhone], [PCFaxNumber], [PCEmail1], [PCEmail2], [Notes]) VALUES (1, N'Vehicle', N'P1:Drive-in Movie', N'', N'I, II, III, & IV', N'$145 USD', N'1', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
INSERT [dbo].[Problem] ([ProblemID], [ProblemCategory], [ProblemName], [ProblemDescription], [Divisions], [CostLimit], [ProblemCaptainID], [PCFirstName], [PCLastName], [PCAddress], [PCCity], [PCStateOrProvince], [PCPostalCode], [PCWorkPhone], [PCHomePhone], [PCMobilePhone], [PCFaxNumber], [PCEmail1], [PCEmail2], [Notes]) VALUES (2, N'Technical', N'P2:AI Tech-No-Art', N'', N'I, II, & III', N'$145 USD', N'2', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'', N'')
GO
SET IDENTITY_INSERT [dbo].[Schools] ON 

GO
SET IDENTITY_INSERT [dbo].[Schools] OFF
GO
SET IDENTITY_INSERT [dbo].[Volunteers] ON 

GO
SET IDENTITY_INSERT [dbo].[Volunteers] OFF
GO
/****** Object:  StoredProcedure [dbo].[DeleteAllTournamentRegistrationRecordsAndResetIdToZero]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =======================================================================
-- Author:		Robert Bernstein
-- Create date: 11/19/2013
-- Description:	Uses the TRUNCATE TABLE command to delete all the records
--				in the TournamentRegistration table and reset its identity
--				counter to zero.
-- =======================================================================
CREATE PROCEDURE [dbo].[DeleteAllTournamentRegistrationRecordsAndResetIdToZero]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	 TRUNCATE table TournamentRegistration
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteNullJudgeRegistrations]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		Robert Bernstein
-- Create date: 12/09/2012
-- Description:	Delete all NULL judge registrations older
--              than the specified number of days.
-- ============================================================
CREATE PROCEDURE [dbo].[DeleteNullJudgeRegistrations] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DELETE
    FROM [DB_12824_registertest].[dbo].[judges]
    WHERE TimeRegistered IS NULL
    AND TimeRegistrationStarted < DATEADD(DAY, -5, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteNullTournamentRegistrations]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		Robert Bernstein
-- Create date: 01/06/2013
-- Description:	Delete all NULL Tournament Registrations older
--              than the specified number of days.
-- ============================================================
CREATE PROCEDURE [dbo].[DeleteNullTournamentRegistrations] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DELETE
    FROM [DB_12824_registertest].[dbo].TournamentRegistration
    WHERE TimeRegistered IS NULL
    AND TimeRegistrationStarted < DATEADD(DAY, -5, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteNullVolunteerRegistrations]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		Robert Bernstein
-- Create date: 01/06/2013
-- Description:	Delete all NULL Volunteer Registrations older
--              than the specified number of days.
-- ============================================================
CREATE PROCEDURE [dbo].[DeleteNullVolunteerRegistrations] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DELETE
    FROM [DB_12824_registertest].[dbo].Volunteers
    WHERE TimeRegistered IS NULL
    AND TimeRegistrationStarted < DATEADD(DAY, -5, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[DropAndRecreateTournamentRegistrationTable]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DropAndRecreateTournamentRegistrationTable]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    IF EXISTS (
       SELECT *
       FROM sys.tables
       WHERE name = N'TournamentRegistration'
     )
        DROP TABLE [dbo].[TournamentRegistration]

    /****** Object:  Table [dbo].[TournamentRegistration]    Script Date: 12/9/2012 7:10:17 PM ******/
    SET ANSI_NULLS ON

    SET QUOTED_IDENTIFIER ON

    CREATE TABLE [dbo].[TournamentRegistration](
	    [TeamID] [int] IDENTITY(1,1) NOT NULL,
	    [MembershipName] [nvarchar](50) NULL,
	    [MembershipNumber] [nvarchar](50) NULL,
	    [ProblemID] [int] NULL,
	    [Division] [nvarchar](50) NULL,
	    [SchoolID] [int] NULL,
	    [CoachFirstName] [nvarchar](50) NULL,
	    [CoachLastName] [nvarchar](50) NULL,
	    [CoachAddress] [nvarchar](255) NULL,
	    [CoachCity] [nvarchar](50) NULL,
	    [CoachStateOrProvince] [nvarchar](20) NULL,
	    [CoachZipCode] [nvarchar](20) NULL,
	    [CoachDaytimePhone] [nvarchar](30) NULL,
	    [CoachEveningPhone] [nvarchar](30) NULL,
	    [CoachEmail] [nvarchar](50) NULL,
	    [AltCoachFirstName] [nvarchar](50) NULL,
	    [AltCoachLastName] [nvarchar](50) NULL,
	    [AltCoachDaytimePhone] [nvarchar](50) NULL,
	    [AltCoachEveningPhone] [nvarchar](50) NULL,
	    [AltCoachEmail] [nvarchar](50) NULL,
	    [MemberFirstName1] [nvarchar](50) NULL,
	    [MemberLastName1] [nvarchar](50) NULL,
	    [MemberGrade1] [nvarchar](50) NULL,
	    [MemberFirstName2] [nvarchar](50) NULL,
	    [MemberLastName2] [nvarchar](50) NULL,
	    [MemberGrade2] [nvarchar](50) NULL,
	    [MemberFirstName3] [nvarchar](50) NULL,
	    [MemberLastName3] [nvarchar](50) NULL,
	    [MemberGrade3] [nvarchar](50) NULL,
	    [MemberFirstName4] [nvarchar](50) NULL,
	    [MemberLastName4] [nvarchar](50) NULL,
	    [MemberGrade4] [nvarchar](50) NULL,
	    [MemberFirstName5] [nvarchar](50) NULL,
	    [MemberLastName5] [nvarchar](50) NULL,
	    [MemberGrade5] [nvarchar](50) NULL,
	    [MemberFirstName6] [nvarchar](50) NULL,
	    [MemberLastName6] [nvarchar](50) NULL,
	    [MemberGrade6] [nvarchar](50) NULL,
	    [MemberFirstName7] [nvarchar](50) NULL,
	    [MemberLastName7] [nvarchar](50) NULL,
	    [MemberGrade7] [nvarchar](50) NULL,
	    [MemberFirstName8] [nvarchar](50) NULL,
	    [MemberLastName8] [nvarchar](50) NULL,
	    [MemberGrade8] [nvarchar](50) NULL,
	    [Spontaneous] [bit] NULL,
	    [Notes] [nvarchar](max) NULL,
	    [SpecialConsiderations] [nvarchar](max) NULL,
	    [SchedulingIssues] [nvarchar](max) NULL,
	    [Paid] [smallint] NULL,
	    [JudgeID] [smallint] NULL,
	    [TeamRegistrationFee] [nvarchar](20) NULL,
	    [VolunteerID] [int] NULL,
	    [TimeRegistrationStarted] [datetime] NULL,
	    [TimeRegistered] [datetime] NULL,
	    [UserAgent] [nvarchar](max) NULL,
     CONSTRAINT [PK_TournamentRegistration] PRIMARY KEY CLUSTERED 
    (
	    [TeamID] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

END
GO
/****** Object:  StoredProcedure [dbo].[FindAllJudgesAssignedToMoreThanOneTeam]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Bernstein
-- Create date: 1/22/2012
-- Description:	Find all judges assigned to more than one team.
-- =============================================
CREATE PROCEDURE [dbo].[FindAllJudgesAssignedToMoreThanOneTeam] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT t.JudgeID,
		   j.FirstName as 'Judge First Name',
		   j.LastName as 'Judge Last Name',
		   COUNT(t.[TeamID]) as 'TeamCount'
	FROM [DB_12824_registertest].[dbo].[TournamentRegistration] as t,
		 [DB_12824_registertest].[dbo].[judges] as j
	WHERE j.JudgeID = t.JudgeID
	GROUP BY t.JudgeID, j.FirstName, j.LastName
	HAVING COUNT(t.[TeamID]) > 1
END
GO
/****** Object:  StoredProcedure [dbo].[FindNullJudgeRegistrations]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		Robert Bernstein
-- Create date: 01/06/2013
-- Description:	Find NULL Judge Registration records where
--              the TimeRegistered is null, indicating an
--              incomplete registration.
-- ============================================================
CREATE PROCEDURE [dbo].[FindNullJudgeRegistrations] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM [DB_12824_registertest].[dbo].Judges
	WHERE TimeRegistered is null
END
GO
/****** Object:  StoredProcedure [dbo].[FindNullTournamentRegistrations]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		Robert Bernstein
-- Create date: 1/22/2012
-- Description:	Find NULL Tournament Registration records where
--              the TimeRegistered is null, indicating an
--              incomplete registration.
-- ============================================================
CREATE PROCEDURE [dbo].[FindNullTournamentRegistrations] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM [DB_12824_registertest].[dbo].[TournamentRegistration]
	WHERE TimeRegistered is null
END
GO
/****** Object:  StoredProcedure [dbo].[FindNullVolunteerRegistrations]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ============================================================
-- Author:		Robert Bernstein
-- Create date: 01/06/2013
-- Description:	Find NULL Volunteer Registration records where
--              the TimeRegistered is null, indicating an
--              incomplete registration.
-- ============================================================
CREATE PROCEDURE [dbo].[FindNullVolunteerRegistrations] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT *
	FROM [DB_12824_registertest].[dbo].Volunteers
	WHERE TimeRegistered is null
END
GO
/****** Object:  StoredProcedure [dbo].[GenerateImportFileForScoringProgram]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Bernstein
-- Create date: 1/21/2012
-- Description:	Generate the correct columns and headers for the import file for the Odyssey scoring program
-- =============================================
CREATE PROCEDURE [dbo].[GenerateImportFileForScoringProgram] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT '' as 'Number'
		  ,[ProblemID] as 'Problem'
		  ,[Division] = CASE t.Division WHEN '0' THEN 'Primary' ELSE t.Division END
		  ,s.Name as 'Name'
		  ,'' as 'Homeroom'
		  ,[CoachFirstName] as 'coachFirst'
		  ,[CoachLastName] as 'coachLast'
		  ,[CoachAddress] as 'coach_addr1'
		  ,[CoachCity] as 'coach_city'
		  ,[CoachState] as 'coach_state'
		  ,[CoachZipCode] as 'coach_zip'
		  ,[CoachDaytimePhone] as 'coach_phone'
		  ,[CoachEveningPhone] as 'coach_fax'
		  ,[CoachEmailAddress] as 'coach_email'
	FROM [DB_12824_registertest].[dbo].[TournamentRegistration] as t, Schools as s
	WHERE t.SchoolID = s.ID
	ORDER BY ProblemID, Division
END
GO
/****** Object:  StoredProcedure [dbo].[ListAllTeamsRegisteredForTournament]    Script Date: 12/2/2023 8:02:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Robert Bernstein
-- Create date: 1/21/2012
-- Description:	List all teams registered for the tournament.
-- =============================================
CREATE PROCEDURE [dbo].[ListAllTeamsRegisteredForTournament] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT [TeamID]
		  ,[MembershipName]
		  ,[MembershipNumber]
		  ,p.ProblemName
		  ,[Division] = CASE t.Division WHEN '0' THEN 'Primary' ELSE t.Division END
		  ,s.Name as 'School Name'
		  ,[CoachFirstName]
		  ,[CoachLastName]
		  ,[CoachAddress]
		  ,[CoachCity]
		  ,[CoachState]
		  ,[CoachZipCode]
		  ,[CoachDaytimePhone]
		  ,[CoachEveningPhone]
		  ,[CoachEmailAddress]
		  ,[AltCoachFirstName]
		  ,[AltCoachLastName]
		  ,[AltCoachDaytimePhone]
		  ,[AltCoachEveningPhone]
		  ,[AltCoachEmailAddress]
		  ,[MemberFirstName1]
		  ,[MemberLastName1]
		  ,[MemberGrade1]
		  ,[MemberFirstName2]
		  ,[MemberLastName2]
		  ,[MemberGrade2]
		  ,[MemberFirstName3]
		  ,[MemberLastName3]
		  ,[MemberGrade3]
		  ,[MemberFirstName4]
		  ,[MemberLastName4]
		  ,[MemberGrade4]
		  ,[MemberFirstName5]
		  ,[MemberLastName5]
		  ,[MemberGrade5]
		  ,[MemberFirstName6]
		  ,[MemberLastName6]
		  ,[MemberGrade6]
		  ,[MemberFirstName7]
		  ,[MemberLastName7]
		  ,[MemberGrade7]
		  ,[Spontaneous]
		  ,t.Notes
		  ,[SpecialConsiderations]
		  ,[SchedulingIssues]
		  ,[Paid]
		  ,[TimeRegistered]
		  ,[JudgeID]
		  ,[TeamRegistrationFee]
		  ,[VolunteerID]
		  ,[TimeRegistrationStarted]
		  ,[UserAgent]
	  FROM TournamentRegistration as t,
		   problem as p,
		   Schools as s
	  WHERE t.ProblemID = p.ProblemID
	  AND t.SchoolID = s.ID
	  ORDER BY t.TeamID
END
GO
USE [master]
GO
