@*<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
	<%
		// Package:	Odyssey of the Mind Web Site
		// Module:	Tournament Registration
		// File:	Page02.aspx
		// Author:	Robert Bernstein
		// Version:	2.0
		// Created:	before 08/04/2007
		// Updated:	09/29/2007: Replaced PHP database query code with MDB2
		//			11/29/2009: Rebuilt in ASP.NET 3.5
		//			01/10/2009: Rebuild in ASP.NET MVC
	%>
	Bad E-mail Provided for Tournament Registration
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
	<h1>
	Bad E-mail Provided for Tournament Registration</h1>

	<p>
		The <span class="required">coach's</span> e-mail address you provided on the previous page was invalid. &nbsp;Please return to the
		previous page by clicking the button below and making sure that the e-mail address is correct.</p>

	<p style="text-align: center">
		<input type="button" value="Return to the Previous Page" id="previousPageButton" name="previousPageButton" onclick="history.go(-1)" /></p>
</asp:Content>
*@