@{
    // Package:	Odyssey of the Mind Web Site
    // Module:	Tournament Registration
    // File:	Page08.cshtml
    // Author:	Robert Bernstein
    // Created:	before 08/04/2007: v1.0: Classic ASP
    // Updated:	11/04/2007: v2.0: Overhauled tournament registration; Replaced database query code with MDB2
    //			12/27/2009: v3.0: Rebuilt in ASP.NET 3.5
    //			01/01/2010: v3.1: Rebuilt in ASP.NET MVC 1.0
    //			11/20/2013: v4.0: Rebuilt in ASP.NET MVC 4
}

@model OdysseyCoreMvc.ViewData.TournamentRegistration.Page08ViewData

@{
    ViewBag.Title = Model.FriendlyRegistrationName + " Page 7 of 9";
}

<script type="text/javascript">
    $(function () {
        // Set the focus to the default control and select its text
        $("#SchedulingIssues").focus().select();
    });
</script>

<h1>
    @ViewBag.Title
</h1>

@using (Html.BeginForm())
{
    <p style="font-weight: bold">
        Almost Done! Just a couple of last questions:
    </p>
    <p>
        List any special scheduling issues - a student on two teams, a coach with two teams,
        a parent with multiple kids competing, etc.&nbsp; NOTE:&nbsp; we cannot guarantee
        that we will be able to resolve all difficulties.&nbsp; For each team, be sure to
        list the school, division, problem name, and coach's name so that we know which
        team you mean.
    </p>
    <p>
        @Html.TextAreaFor(x => x.SchedulingIssues, 6, 100, null)
    </p>
    <p>
        Will any team member(s) need some kind of accommodation? &nbsp;Please describe the
        situation and suggest a solution/accommodation.
    </p>
    <p>
        @Html.TextAreaFor(x => x.SpecialConsiderations, 6, 100, null)
    </p>
    <hr />
    <div style="text-align: right">
        <input type="submit" value="Next Page >>" />
    </div>
    <div style="text-align: left">
        <a href="@Model.Config["HomePage"]">Return to the Home Page</a>
    </div>
}
